@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    xxxxxxxxxxxxxx<br />
    BIałystok, 143-349<br />
    <abbr title="Phone">P:</abbr>
    111 121 313
</address>

<p style="color:green">
    @TempData["Informacja"]
</p>

<address>
    <strong>Napisz do nas: </strong>@Html.ActionLink("Wyslij wiadomosc", "WyslijWiadomosc")<br />
    <span>wiadomosc jest anonimowa</span>
</address>